{%extends 'admin/admin.html'%}
{% load static %}
<!DOCTYPE html>
<html>
<body>
	{% block admin%}
	<div class="blog-post" id="exampleModalLong">
		<div class="container">
			<h2 style="margin-bottom:10px;font-size:25px">Blog List</h2>
			<a href="post" class="btn btn-primary admin-btn" style="text-align:center;margin-left:850px;margin-bottom:20px">Add New Blog</a>
			<!--<div class="ajax" id="exampleModalLong"> -->
			<table class="table table-striped" >
				<thead class="alert-danger" style="color:#000">
					<tr>
						<td>Title</td>
						<td>Category</td>
						<td>Posted On</td>
						<td>Action</td>
					</tr>
				</thead>
				<tbody>
					
					{% for post in post %}
					<tr>
					<td>{{post.title}}</td>
					<td>{{post.Category}}</td>
					<td>{{post.posted_on}}</td>
					<td>
						<a href="blog_update/{{post.id}}" class="btn btn-info">Edit</a>
						<a href="blog_delete/{{post.id}}" class="btn btn-danger">Delete</a>
					</td>
					</tr>
					{% endfor %}

				</tbody>
			</table>
		<!--</div> ajax-->
		</div>
	</div>
	{% endblock %}
	</body>
</html>