{%extends 'admin/admin.html'%}
{% load static %}
{% if user.is_staff or user.is_superuser %}
	{% block admin%}
		<div class="container">
			<div class="row">
				<div class="col-md-12 my-5" style="box-shadow:0px 0px 10px gray">
					{% if msz %}
						<div class="{{cls}} mt-3">{{msz}}</div>
					{% endif %}

					<table class="table">
						<thead>
							<tr>
								<th>Customer</th>
							</tr>
						</thead>
						<tbody>
							{% for post in post %}
								<tr>
									<!--<td><a href=" customer_details/{{post.user.id}} ">{{post.user}}</a></td>-->	
									<td><a href=" {% url 'customer_details' id=post.user.id %} ">{{post.user}}</a></td>									
									<td><a href="customer_delete/{{post.id}}" class="btn btn-danger">&times; Remove</a></td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	{% endblock %}
{% endif %}
</body>
</html>